@charset "UTF-8";
.m-style {
    position: relative;
    text-align: center;
    zoom: 1;
}

.m-style:before,
.m-style:after {
    content: "";
    display: table;
}

.m-style:after {
    clear: both;
    overflow: hidden;
}

.m-style span {
    float: left;
    margin: 0 5px;
    width: 0.358rem;
    height: 0.358rem;
    line-height: 0.358rem;
    color: #666;
    font-size: .2rem;
}

.m-style .active {
    float: left;
    margin: 0 5px;
    width: 0.358rem;
    height: 0.358rem;
    line-height: 0.358rem;
    background: #fff;
    color: #c90319;
    font-size: .2rem;
    border: 1px solid #c90319;
}

.m-style a {
    float: left;
    margin: 0 5px;
    width: 0.358rem;
    height: 0.358rem;
    line-height: 0.358rem;
    background: #fff;
    border: 1px solid #666;
    color: #666;
    font-size: .2rem;
}

.m-style a:hover {
    color: #fff;
    background: #fff;
    border: 1px solid #c90319;
}

.m-style .next,
.m-style .prev {
    font-family: "Simsun";
    font-size: .273rem;
    font-weight: bold;
}

.now,
.count {
    padding: 0 5px;
    color: #f00;
}

.eg img {
    max-width: 800px;
    min-height: 500px;
}

input {
    float: left;
    margin: 0 5px;
    width: 0.358rem;
    height: 0.358rem;
    line-height: 0.358rem;
    text-align: center;
    background: #fff;
    border: 1px solid #ebebeb;
    outline: none;
    color: #bdbdbd;
    font-size: .2rem;
}