/* 首页 */
.color_red_c9 {
    color: #c90319;
}

.ssbtn {
    width: 1rem;
    background: #c90319;
    color: white;
    height: .5rem;
    line-height: .5rem;
    text-align: center;
    border-radius: 0 3px 3px 0;
}

.search {
    background: #f7f7f7;
    height: 0.56rem;
    border-radius: 3px;
}

.banner {
    overflow: hidden;
    border-radius: 5px;
    margin: .256rem;
}

.banner img {
    width: 100%;
}

.part1 {
    background: white;
    padding: 0.256rem;
    border-top: .1rem solid #f7f7f7;
}

.list {
    overflow: hidden;
    height: 7rem;
    position: relative;
}

.list .item {
    text-align: center;
    width: 33.3%;
    float: left;
    height: 3.3rem;
    margin-top: .2rem
}

.list .item .t1 {
    margin-top: .2rem;
    font-size: .18rem;
}

.list .item .pimg {
    height: 1.4rem;
    margin-top: .1rem;
    width: 100%;
    background-size: 128% !important;
    background-position: center !important;
}

.bt-zx {
    margin-top: .2rem;
    width: 1.34rem;
    height: .5rem;
}
/* 大师推荐 */
.list1 {
    overflow: hidden;
    height: 14.1rem;
    position: relative;
}

.list1 .item1 {
    text-align: center;
    width: 50%;
    float: left;
    height: 4.5rem;
    margin-top: .2rem
}

.list1 .item1 .t1 {
    margin-top: .2rem;
    font-size: .18rem;
}

.list1 .item1 .pimg {
    height: 2.5rem;
    /* margin-top: .1rem; */
    width: 100%;
    background-size: 128% !important;
    background-position: center !important;
}
.swiper_container_suz2 {
    width: 100%;
    /* padding-left:3%; */
    height: 4.2rem;
    overflow: hidden;
    position: relative;
    background: white;
}

.swiper_container_suz2 .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    line-height: 1.3rem;
    height: 4.2rem;
    margin-top: 0rem;
    position: relative;
    /*-webkit-transform:scale(0.8);*/
}
.swiper_container_suz2 .swiper-slide img {
    width: 100%;
    height:auto;
    display: block;
}
/* 名家 */

#swiper-container-star {
    width: 100%;
    height: 3.6rem;
}

#swiper-container-star a {
    display: inline-block;
    width: 100%;
    height: 100%;
}

#swiper-container-star a img {
    width: 100%;
    height: 2.6rem;
}
#swiper-container-star a #headimg {
    width: 100%;
    height: 2.6rem;
}

.star-describe {
    width: 100%;
    height: 1rem;
    background-color: white;
    text-align: center;
    overflow: hidden;
}

.star-describe p:nth-child(1) {
    font-size: 0.37rem;
    line-height: 0.37rem;
    color: #cc3333;
    padding-top: 0.106rem;
    padding-bottom: 0.106rem;
}

.star-describe p:nth-child(2) {
    font-size: 0.26rem;
    line-height: 0.26rem;
    color: #333333;
}

.store{
    margin-top: .35rem;
    height: auto;
    border: 1px solid #ccc;
    background: #f7f7f7;
    border-radius: 5px;
}

/* 建盏学院 */
.college-hd{
    width: 100%;
    height: .8rem;
    background: #bd2727;
    align-items: center;
    color: #ffffff;
    justify-content: space-between;
}
.college-hd .back{
    display: flex;
    align-items: center;
    padding-left: .25rem;
    font-size: .26rem;
}
.college-hd .back::before{
    content: '';
    width: .1rem;
    height: .17rem;
    background: url(../images/college/fanhui.png)no-repeat;
    display: inline-block;
    background-size: 100% 100%;
    margin-right: .1rem;
}
.college-hd .menu{
    padding-right: .25rem;
    width: .32rem;
    height: .23rem;
}
.college-hd .menu img{
    max-width: 100%;
    height: 100%;
}
.college-wrap .wrap-title{
    margin: .6rem .2rem 0;
    border-bottom: 1px solid #eeeeee;
    padding-bottom: .6rem;
}
.college-wrap .wrap-title h1{
    color: #262626;
    text-align: center;
    font-weight: 400;
}
.college-wrap .wrap-title span{
    padding-top: .2rem;
    display: block;
    color: #999999;
    text-align: center;
}
.college-wrap .wrap-title span em{
    color: #b32b2b;
}
.college-wrap .wrap-con{
    padding: .34rem .2rem;
}
.college-wrap .wrap-con h2{
    color: #353535;
    text-indent: .4rem;
    line-height: .4rem;
    padding-bottom: .2rem;
}
.college-wrap .wrap-con span{
    display: block;
    color: #353535;
    text-align: center;
    font-weight: bold;
    line-height: .4rem;
}
.college-wrap .wrap-con img{
    width: 100%;
    height: 100%;
    margin: .2rem 0;
}
.college-wrap .wrap-con p{
    font-size: .24rem;
    color: #353535;
    line-height: .4rem;
    text-indent: .4rem;
    font-weight: bold;
}
.college-wrap .con-list{
    padding-top: .3rem;
}
.college-wrap .con-list h3{
    color: #353535;
    font-weight: bold;
    text-align: center;
    padding-bottom: .3rem;
}
.college-wrap .con-list .list-tip{
    padding-left: .5rem;
    color: #353535;
    font-weight: bold;
    font-size: .24rem;
    line-height: .4rem;
    display: flex;
}
.college-wrap .con-list .list-tip em{
    display: contents;
    color: #b32b2b;
}
.college-wrap .con-list .list-tip .tip-l,.college-wrap .con-list .list-tip .tip-r{
    color: #353535;
    font-weight: bold;
    font-size: .24rem;
    line-height: .4rem;
    width: 50%;
}
.college-ft{
    padding-top: .4rem;
    border-top: 1px solid #F0F0F0;
    display: flex;
    justify-content: space-evenly;
}


.colList-wrap .tab-box{
    margin: .38rem .24rem;
    display: flex;
    flex-flow: wrap;
    justify-content: space-evenly;
}
.colList-wrap .tab-box .tab-menu{
    width: 2rem;
    height: .74rem;
    background: #f2f2f2;
    color: #292929;
    font-size: .3rem;
    line-height: .74rem;
    margin: .1rem;
    text-align: center;
    border-radius: .1rem;
}
.colList-wrap .tab-box .tab-menu.active{
    background: #b32b2b;
    color: #ffffff;
}
.colList-wrap .list-box{
    margin: 0 .24rem;
}
.colList-wrap .list-con{
    position: relative;
    display: flex;
    border-top: 1px solid #d9d9d9;
    padding: .4rem 0;
    justify-content: space-around;
}
.colList-wrap .list-con .con-img{
    width: 30%;
}
.colList-wrap .list-con .con-img img{
    width: 2.14rem;
    height: 2.14rem;
}
.colList-wrap .list-con .con-txt{
    display: flex;
    flex-direction: column;
    width: 64%;
}
.colList-wrap .list-con .con-txt h1{
    font-size: .34rem;
    color: #303030;
    font-weight: bold;
}
.colList-wrap .list-con .con-txt span{
    color: #999999;
    font-size: .2rem;
    padding-top: .2rem;
}
.colList-wrap .list-con .con-txt p{
    color: #353535;
    font-size: .24rem;
    padding-top: .2rem;
    line-height: .4rem;
}
.colList-wrap .list-con .con-txt a{
    text-align: right;
    color: #b32b2b;
    font-size: .16rem;
}
/* 名家名堂 */
.famous-list .list-box{
    margin: 0 .24rem;
}
.famous-list .list-con-wrap{
    border-top: 1px solid #d9d9d9;
}
.famous-list .list-con{
    display: flex;
    padding: .4rem 0;
}
.famous-list .list-con .con-img img{
    width: 2.22rem;
    height: 2.22rem;
}
.famous-list .list-con .con-txt{
    margin-left: .2rem;
}
.famous-list .list-con .con-txt h1{
    color: #303030;
    font-size: .35rem;
    font-weight: 400;
}
.famous-list .list-con .con-txt h1 span{
    color: #999999;
    font-size: .2rem;
    padding-left: .3rem;
}
.famous-list .list-con .con-txt p{
    color: #353535;
    font-size: .24rem;
    padding-top: .2rem;
    line-height: .4rem;
}
.famous-list .list-con .con-txt .morebtn{
    width: 1.6rem;
    height: .34rem;
    background: #b32b2b;
    color: #fff;
    line-height: .34rem;
    text-align: center;
    font-size: .2rem;
    float: right;
}
.famous-list .list-con .con-txt .morebtn::after{
    content: '';
    width: .19rem;
    height: .1rem;
    background: url(../images/college/xiangxia.png)no-repeat;
    display: inline-block;
    background-size: 100% 100%;
    margin-left: 0.06rem;
}
/* 名家简介 */
.intro-wrap .intro-tit{
    display: flex;
    padding: .48rem .38rem 0;
}
.intro-wrap .intro-tit .con-img img{
    width: 2.22rem;
    height: 2.22rem;
}
.intro-wrap .intro-tit .con-txt{
    margin-left: .2rem;
}
.intro-wrap .intro-tit .con-txt h1{
    color: #303030;
    font-size: .34rem;
    font-weight: 500;
}
.intro-wrap .intro-tit .con-txt span{
    color: #999999;
    font-size: .2rem;
    padding-top: .2rem;
    display: block;
}
.intro-wrap .intro-tit .con-txt p{
    color: #353535;
    font-size: .24rem;
    padding-top: .2rem;
    line-height: .4rem;
}
.intro-wrap .close-all{
    margin: .2rem .24rem;
    background: #F7F7F7;
    padding: .12rem 0;
    text-align: center;
    color: #B32B2B;
}
/* 关于我们 */
.about-wrap .about-tab{
    border-bottom: .1rem solid #F2F2F2;
    padding: .3rem .26rem;
    display: flex;
    justify-content: center;
}
.about-wrap .about-tab .tab-item span{
    color: #292929;
    font-size: .24rem;
    text-align: center;
    padding: .1rem .2rem;
    margin: .2rem;
}
.about-wrap .about-tab .tab-item.active span{
    color: #fff;
    background: #BD2727;
}
.about-wrap .about-tab .tab-item::after{
    content: '';
    border-right: 1px solid #D9D9D9;
}
.about-wrap .about-tab .tab-item:nth-last-child(1)::after{
    content: '';
    border-right: none;
}
.about-wrap .about-con .con-item{
    display: none;
}
.about-wrap .about-con .con-item.active{
    display: block;
}
.about-wrap .about-con .con-item h1{
    color: #262626;
    font-size: .36rem;
    font-weight: 500;
    padding-top: .5rem;
    text-align: center;
}
.about-wrap .about-con .con-item h3{
    color: #808080;
    font-size: .16rem;
    padding-top: .23rem;
    text-align: center;
}
.about-wrap .about-con .con-item h3 span{
    color: #B32B2B;
    font-size: .16rem;
}
.about-wrap .about-con .con-main{
    margin: .4rem .24rem;
    border-top: 1px solid #EDEDED;
    padding-top: .4rem;
}
.about-wrap .about-con .con-main p{
    color: #353535;
    font-size: .24rem;
    font-weight: 400;
    line-height: .5rem;
    text-indent: .4rem;
}
.about-wrap .about-con .con-main strong{
    color: #B32B2B;
    font-size: .24rem;
    font-weight: bold;
    line-height: .5rem;
    text-align: center;
    display: block;
}
/* 服务保障 */
.about-wrap .about-con .fea-box{
    margin: .4rem .24rem;
    display: flex;
    background: #F7F7F7;
    flex-wrap: wrap;
    padding: .14rem 0;
}
.about-wrap .about-con .fea-item{
    width: 25%;
    text-align: center;
    color: #292929;
    font-size: .24rem;
    padding: .24rem 0;
    border-right: 2px solid #FFFFFF;
    margin-left: -2px;
}
.about-wrap .about-con .fea-item:nth-child(1),.about-wrap .about-con .fea-item:nth-child(2),.about-wrap .about-con .fea-item:nth-child(3),.about-wrap .about-con .fea-item:nth-child(4){
    border-bottom: 2px solid #FFFFFF;
}
.about-wrap .about-con .fea-item.active{
    color: #B32B2B;
}
.about-wrap .about-con .fea-main{
    margin: .4rem .24rem;
    background: #F7F7F7;
    padding: 0 .3rem;
}
.about-wrap .about-con .fea-main h2{
    color: #B32B2B;
    font-size: .28rem;
    padding-top: .34rem;
}
.about-wrap .about-con .fea-main p{
    text-indent: .5rem;
    color: #353535;
    font-size: .24rem;
    line-height: .48rem;
    font-weight: 400;
    border-bottom: 2px solid #E6E6E6;
    padding: .3rem 0;
}
.about-wrap .about-con .fea-main p:nth-last-child(1){
    border-bottom: none;
}
/* 在线反馈 */
.about-wrap .feedback-con .feedback-tit{
    width: 1.59rem;
    height: .37rem;
    margin: 0 auto;
    padding-top: .48rem;
}
.about-wrap .feedback-con .feedback-tit img{
    max-width: 100%;
}
.about-wrap .feedback-con .sel-box{
    margin-top: .5rem;
    padding-left: 1.2rem;
    display: flex;
    color: #262626;
    font-size: .24rem;
    font-weight: 500;
}
.about-wrap .feedback-con .sel-box label{
    color: #262626;
    font-size: .24rem;
    font-weight: 500;
}
.about-wrap .feedback-con .sel-box .sel-tip,.about-wrap .feedback-con .sel-box .input_radio{
    padding-right: .3rem;
}
.about-wrap .feedback-con .sel-box label,.about-wrap .feedback-con .sel-box input{
    vertical-align: bottom;
}
.about-wrap .feedback-con textarea{
    width: 74%;
    display: flex;
    justify-content: center;
    border: 2px solid #D4D4D4;
    margin: .26rem auto;
    padding: .18rem;
    color: #262626;
    font-size: .26rem;
    font-weight:400;
    line-height: .32rem;
}
.about-wrap .feedback-con .inf-box{
    display: flex;
    margin-top: .28rem;
    justify-content: center;
    align-items: center;
}
.about-wrap .feedback-con .inf-box span{
    color: #262626;
    font-size: .24rem;
    padding-right: .28rem;
}
.about-wrap .feedback-con .inf-box input{
    width: 3.04rem;
    height: .62rem;
    line-height: .62rem;
    padding-left: .22rem;
    color: #7D7D7D;
    font-size: .27rem;
    font-weight:500;
    border:2px solid rgba(204,204,204,1);
}
.about-wrap .feedback-con p{
    width: 80%;
    margin: 0 auto;
    padding: .46rem 0;
    color: #262626;
    font-size: .24rem;
    font-weight: 500;
    line-height: .4rem;
    text-align: center;
}
.about-wrap .feedback-con .ask-btn{
    margin: 0 auto;
    width: 50%;
    height: .6rem;
    background: #BD2727;
    color: #ffffff;
    text-align: center;
    line-height: .6rem;
    margin-bottom: .64rem;
}
.about-wrap .con-item img{
    max-width: 100%;
}
/* 商品详情页 */
.details-wrap .bannner-carousel {
    background: #fff;
    padding-bottom: .24rem;
}
.details-wrap .swiper-container-1 .swiper-pagination-bullet {
    background: #CCCCCC;
}
.details-wrap .swiper-container-1 .swiper-pagination-bullet-active {
    background: #BC0310;
}
.details-wrap .swiper-container-1 .swiper-slide img {
    width: 7.5rem;
    height: 5.6rem;
}
.details-wrap .goods-info{
    padding-left: .26rem;
}
.details-wrap .goods-info .tit{
    color: #131313;
    font-size: .34rem;
    font-weight:bold;
}
.details-wrap .goods-info span{
    color: #BF0000;
    font-size: .24rem;
    padding-top: .16rem;
    display: inline-block;
    padding-bottom: .24rem;
}
.details-wrap .details-info{
    border-top: .1rem solid #F2F2F2;
    border-bottom: .1rem solid #F2F2F2;
}
.details-wrap .infp-wrap{
    padding: .34rem .26rem;
    display: flex;
    border-bottom: 1px solid #EBEBEB;
}
.details-wrap .infp-wrap:nth-last-child(1){
    border-bottom: none;
}
.details-wrap .infp-wrap .info-l{
    color: #000000;
    font-size: .26rem;
}
.details-wrap .infp-wrap .info-r{
    padding-left: .26rem;
    display: flex;
    flex-wrap: wrap;
}
.details-wrap .infp-wrap .info-r div{
    color: #646464;
    font-size: .22rem;
    width: 50%;
    padding: .12rem 0;
}
.details-wrap .infp-wrap .info-r span{
    color: #272727;
    font-size: .22rem;
}
.details-wrap .infp-wrap .info-r .txt{
    width: auto;
    line-height: .46rem;
    padding: 0;
}
.details-wrap .img-show img{
    max-width: 100%;
    width: 100%;
}
/* 建盏商城 */
.store-wrap .store-tab{
    /* border-bottom: .1rem solid #F2F2F2; */
    padding: .3rem 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.store-wrap .store-tab .tab-item span{
    color: #292929;
    font-size: .24rem;
    text-align: center;
    padding: .12rem;
    margin: .14rem;
}
.store-wrap .store-tab .tab-item span::after{
    content: '';
    width: .2rem;
    height: .1rem;
    background: url(../images/about/bt000.png)no-repeat;
    background-size: 100% 100%;
    display: inline-block;
}
.store-wrap .store-tab .tab-item.active span{
    color: #fff;
    background: #BD2727;
}
.store-wrap .store-tab .tab-item.active span::after{
    content: '';
    width: .2rem;
    height: .1rem;
    background: url(../images/about/btfff.png)no-repeat;
    background-size: 100% 100%;
    display: inline-block;
}
.store-wrap .store-tab .tab-item::after{
    content: '';
    border-right: 1px solid #D9D9D9;
}
.store-wrap .store-tab .tab-item:nth-last-child(1)::after{
    content: '';
    border-right: none;
}
.store-wrap .con-item{
    display: none;
}
.store-wrap .con-item.active{
    display: block;
}
.ssbtnzx {
    width: 2rem;
    background: #c90319;
    color: white;
    height: .7rem;
    line-height: .7rem;
    text-align: center;
    border-radius: 0 3px 3px 0;
}

.searchzx {
    background: #f7f7f7;
    height: 0.7rem;
    border-radius: 3px;
}
#guanzhuweixin-s input {
    float: left;
    margin: 0 5px;
    width: unset !important;
    height: auto !important;
    line-height: auto !important;
    text-align: left;
    background: unset;
    border: 1px solid #ebebeb;
    outline: none;
    color: #bdbdbd;
    font-size: .2rem;
}
.totop {
    position: fixed;
    height: auto;
    z-index: 99999;
    top: 8rem;
    right: 0.4rem;
}
.backtohome{
    position: fixed;
    height: auto;
    z-index: 99999;
    top: 7rem;
    right: 0.4rem;
}
