/* 基础样式定义 */
body,
html,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
img {
  border: none;
  font-size: 0;
}
a {
  color: #71777d;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul,
li {
  list-style-type: none;
}
body {
  margin: 0;
  padding: 0;
  border: 0;
  position: relative;
  min-width: 960px;
  color: #666;
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  font-family: "YouYuan", "Microsoft YaHei";
}
/*icon定义*/
/* iconfont */
@font-face {
  font-family: 'iconfont';
  src: url('/static/common/plugins/iconfont/iconfont.eot');
  src: url('/static/common/plugins/iconfont/iconfont.eot?#iefix') format('embedded-opentype'), url('/static/common/plugins/iconfont/iconfont.woff') format('woff'), url('/static/common/plugins/iconfont/iconfont.ttf') format('truetype'), url('/static/common/plugins/iconfont/iconfont.svg#iconfont') format('svg');

  /* IE9*/
  /* iOS 4.1- */
}
.iconfont {
  font-family: "iconfont";
  display: inline-block;
}
@media screen and (max-width: 375px) {
  .iconfont {
    font-size: 24px;
    font-style: normal;
  }
}
@media screen and (min-width: 375px) {
  .iconfont {
    font-size: 26px;
    font-style: normal;
  }
}
@media screen and (min-width: 960px) {
  html {
      font-size: 100px;
  }
}
.clearfix {
  *zoom: 1;
  /*overflow:hidden*/
}
.clearfix:after {
  content: "\200B";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
h1,
h2,
h3,
h4,
h5 {
  text-align: center;
  font-weight: normal;
}
input {
  border: none;
  outline: none;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.text_c {
  text-align: center;
}
.text_l {
  text-align: left;
}
.wrap_960 {
  width: 960px;
  margin: 0 auto;
  text-align: center;
}
.wrap_960_ {
  width: 960px;
  margin: 0 auto;
}
.wrap_780 {
  width: 780px;
  margin: 0 auto;
  text-align: center;
}
.box_bor {
  box-sizing: border-box;
}
.none {
  display: none !important;
}
.input_num_n input[type=number] {
  -moz-appearance: textfield;
}
.input_num_n input[type=number]::-webkit-inner-spin-button,
.input_num_n input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/*文字对齐*/
.texta-l {
  text-align: left !important;
}

.texta-r {
  text-align: right !important;
}

.texta-c {
  text-align: center !important;
}
/*公共样式*/
.flex-row {
  display: flex;
}

.flex-col {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  min-width: 0;
}

.fl {
  float: left;
}

.fr {
  float: right;
}
/*规范字体大小*/
.px10 {
  font-size: .10rem;
}
.px12 {
  font-size: .12rem;
}
.px13 {
  font-size: .13rem;
}
.px14 {
  font-size: .14rem;
}
.px15 {
  font-size: .15rem;
}
.px16 {
  font-size: .16rem;
}
.px18 {
  font-size: .18rem;
}
.px19 {
  font-size: .19rem;
}
.px20 {
  font-size: .20rem;
}

.px24 {
  font-size: .24rem;
}

.px28 {
  font-size: .28rem !important;
}

.px30 {
  font-size: .3rem !important;
}

.px32 {
  font-size: .32rem !important;
}

.px36 {
  font-size: .36rem !important;
}

.px44 {
  font-size: .44rem !important;
}
/*通用颜色*/
.color_f {
  color: #ffffff !important;
}
.color_26 {
  color: #262626 !important;
}

.color_57 {
  color: #575757 !important;
}
.color_3 {
  color: #333 !important;
}

.color_9 {
  color: #999 !important;
}

.color_a4 {
  color: #a4a4a4 !important;
}
.color_e {
  color: #eee !important;
}

.color_orange {
  color: #fe7308 !important;
}

.color_blue {
  color: #36adff !important;
}

.color_green {
  color: #3abc2a !important;
}

.color_bluedark {
  color: #6D7A94
}

.color_red {
  color: #ff421f !important;
}

.color_red_b7 {
  color: #B70B0B !important;
}

.bg_color_f {
  background-color: #fff !important;
}

.bg_color_orange {
  background-color: #fe7308 !important;
}

.bg_color_blue {
  background-color: #36adff !important;
}

.bg_color_green {
  background-color: #3abc2a !important;
}

.bg_color_red {
  background-color: #ff421f !important;
}

.bg_color_red_c5 {
  background-color: #c51b27 !important;
}

.border_color_o {
  border: 1px solid #fe7308 !important;
}

.border_color_be {
  border: 1px solid #bebebe !important;
}
.search {
  background: #fff;
  border: 1px #96081B solid;
  height: 0.45rem;
  width: 3.21rem;
  /* border-radius: 6px 0 0 6px; */
}
.ic_42{
  width: .42rem !important;
  height: .42rem  !important;
}
.mar-l-20 {
  margin-left: 0.2rem;
}

.mar-r-20 {
  margin-right: 0.2rem;
}
.div-h-1 {
  height: 0.1rem;
}

.div-h-3 {
  height: 0.3rem;
}

.div-h-2 {
  height: 0.2rem;
}

.div-h-4 {
  height: 0.4rem;
}

.div-h-5 {
  height: 0.5rem;
}

.div-h-6 {
  height: 0.6rem;
}

.div-h-8 {
  height: 0.8rem;
}
.bg_color_3 {
  background-color: #333 !important;
}

 /* foot */
 footer {
  width: 100%;
}

footer .top {
  align-items: center;
  margin: auto;
  max-width: 12rem;
}

footer .about-con {
  padding-top: .48rem;
  flex-direction: column;
  margin-right: 1.22rem;
}

footer .about-item {
  font-size: .12rem;
  font-family: PingFang-SC-Regular;
  font-weight: 400;
  color: rgba(166, 166, 166, 1);
  line-height: .24rem;
}

footer .about-item-f {
  font-size: .16rem;
  color: rgba(255, 255, 255, 1);
}

footer .col-r {
  width: 2.35rem;
  height: 1.44rem;
  padding-top: .48rem;

}

footer .col-r img {
  width: 100%;
}

footer .info-con-l {
  flex-direction: column;
  padding-top: .34rem;
  font-size: .14rem;
  ;
  font-family: MicrosoftYaHei;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
  line-height: .24rem;
}
footer .info-col-r {
  width: 2.32rem;
  height: .81rem;
  margin-top: .18rem;
  background: #96081B;
}

footer .info-col-r img {
  width: 100%;
  height: .81rem
}
.footer-top-img{
  height: .65rem;
  width: .72rem;
}
/* 右边联系电话咨询导航 */
.rightNav{
position: fixed;
right: 0;
top: 15vh;
width: 1.22rem;
height: 5.72rem;
z-index: 9999;
}
.rightNav img{
width: .45rem;
right: 0;
display: block;
margin: auto;
left: 0;
}

/* 头部 */
.body {
  max-width: 12rem;
  margin: auto;
  overflow: hidden;
}

.banner {
  width: 100%;
  height: auto;
}

.banner img {
  display: block;
  height: 100%;
  width: 100%;
}

.header {
  background: #fff;
  width: 100%;
}

.header .top {
  width: 100%;
  border-bottom: 1px solid #f0f0f0
}

.header .top .flex-row {
  align-items: center;
  margin: auto;
  width: 12rem;
  height: .4rem;
}

.header .middle {
  align-items: center;
  margin: auto;
  max-width: 12rem;
  height: 1.41rem;
}

.shux {
  height: .3rem;
  width: .01rem;
  margin: 0 .2rem;
  background: #f0f0f0;
}

.header .middle .logo {
  height: .71rem;
}


.middle-img {
  height: .69rem;
  margin-right: .44rem
}

.nav {
  align-items: center;
  margin: auto;
  max-width: 12rem;
  height: .4rem;
  background: #333;
  color: #fff
}

.navact {
  background: #96081B
}

.item {
  height: .4rem;
  line-height: .4rem
}
 /* <!--搜所 --> */
 .search {
  background: #f7f7f7;
  height: 0.44rem;
  border-radius: 3px;
}

.ssbtnzx {
  width: 2rem;
  background: #c90319;
  color: white;
  height: .7rem;
  line-height: .7rem;
  text-align: center;
  border-radius: 0 3px 3px 0;
}
.ssbtn {
  width: 1.26rem;
  font-size: .19rem;
  height: .44rem;
  line-height: .44rem;
  background: #B32735;
  border: 1px solid #B32735;
  color: #fff;
  text-align: center;
}

.actcolor{
  color:#96081B !important;
}
.searchzx {
  background: #f7f7f7;
  height: 0.7rem;
  border-radius: 3px;
}

.c2{
  width: 1.86rem;
  height: 2.62rem;
  background: white;
  overflow: hidden;
  position: relative
   }
.c2 img{
  width: 90%;
  padding: .25rem 5% .1rem
  }

  .swiper-button-next,
  .swiper-container-rtl .swiper-button-prev {
      background-image: url(../static/images/jianzhan_0509/right.png);
      right: 0px;
      left: auto;
  }

  .swiper-button-prev,
  .swiper-container-rtl .swiper-button-next {
      background-image: url(../static/images/jianzhan_0509/left.png);
      left: 0px;
      right: auto;
  }
  .zxbt{
    height: .3rem;
    width: 1.12rem;
    line-height: .3rem;
    background: #B32735;
    text-align: center;
    margin: auto;
    color:#fff
  }
  
  .tk-mark{
    display: block;
    position: fixed;
    z-index: 999;
    width: 100%;
    top: 0;
    height: 100%;
    left: 0;
  }
  .gmkuang{
    border: .1rem solid #B70B0B;
    position: absolute;
    background: white;
    z-index: 1000;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 0;
    width: 7rem;
    top: 0;
    height: 4rem;
  }

  .clamp2 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.clamp3 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.clamp1 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}